.more {
  max-width: 100%;
  min-height: 176px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffffff;
}
.more__button {
  width: 320px;
  height: 40px;
  background: #f9f9f9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  justify-content: center;
  color: #000000;
  border: none;
  margin-top: 60px;
  cursor: pointer;
}
.more__button:hover{
  opacity: 0.8;
}
@media screen and (max-width: 920px) {
  .more {
    height: 166px;
  }
}
@media screen and (max-width: 500px) {
  .more__button {
    width: 240px;
  }
}
